*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container{
    position: relative;
    width: 1100px;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    font-family: 'Bree Serif', serif;
}

.card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: white;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

.card:hover{
    height: 420px;
}

.image{
    position: relative;
    width: 260px;
    height: 175px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.image img{
    max-width: 100%;
    border-radius: 4px;
}

.info{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:black;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;   
}

.card:hover .info{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}