* {
  margin: 0;
  padding: 0;
}

.box {
  width: 200px;
  height: 200px;
  border: 5px double rgb(228, 25, 25);
  margin: 20px;
  padding: 20px;
}

.container {
  height: 100vh;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
}
